/* dac_man_5x6_right.overlay */
#include <dt-bindings/gpio/gpio.h>
#include "dac_man_5x6.dtsi"

&kscan {
    status = "okay";
    diode-direction = "col2row";

    col-gpios
        = <&gpio0 17 GPIO_ACTIVE_LOW>
        , <&gpio0 20 GPIO_ACTIVE_LOW>
        , <&gpio0 22 GPIO_ACTIVE_LOW>
        , <&gpio1 0  GPIO_ACTIVE_LOW>
        , <&gpio0 11 GPIO_ACTIVE_LOW>
        , <&gpio1 4  GPIO_ACTIVE_LOW>
        ;

    row-gpios
        = <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 2  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        ;
};

&default_transform {
    col-offset = <6>;
};

/ {
    /* 1. PS/2 GPIO BUS */
    ps2_io: ps2_io {
        compatible = "zmk,gpio-ps2";
        data-gpios = <&gpio1 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        clk-gpios = <&gpio1 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        status = "okay";
    };

    /* 2. MOUSE DRIVER */
    ps2_mouse: ps2_mouse {
        compatible = "zmk,input-mouse-ps2";
        ps2-device = <&ps2_io>;
        status = "okay";
    };

    /* 3. INPUT LISTENER */
    mmv_input_listener {
        compatible = "zmk,input-listener";
        device = <&ps2_mouse>;
    };
};
