#include <dt-bindings/gpio/gpio.h>
#include "dac_man_5x6.dtsi"

&kscan {
    status = "okay";
    col-gpios
        = <&gpio0 17 GPIO_ACTIVE_LOW>
        , <&gpio0 20 GPIO_ACTIVE_LOW>
        , <&gpio0 22 GPIO_ACTIVE_LOW>
        , <&gpio1 0  GPIO_ACTIVE_LOW>
        , <&gpio0 11 GPIO_ACTIVE_LOW>
        , <&gpio1 4  GPIO_ACTIVE_LOW>
        ;
    row-gpios
        = <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 2  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        ;
};

&default_transform {
    col-offset = <6>;
};

/ {
    /* PS/2 Settings */
    gpio_ps2: gpio_ps2 {
        compatible = "gpio-ps2";
        status = "okay";
        scl-gpios = <&gpio1 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        sda-gpios = <&gpio1 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    };

    ps2_mouse: ps2_mouse {
        compatible = "zmk,input-mouse-ps2";
        status = "okay";
        ps2-device = <&gpio_ps2>;
    };

    mmv_input_listener {
        compatible = "zmk,input-listener";
        device = <&ps2_mouse>;
    };

/* LED Settings - Renamed to avoid conflicts with nice!nano onboard LEDs */
    leds {
        compatible = "gpio-leds";
        status = "okay";
        
        diag_red: led_ext_r {
            gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
            label = "External Red";
        };
        
        diag_green: led_ext_g {
            gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
            label = "External Green";
        };
        
        /* Renamed from 'blue_led' to 'diag_blue' to fix the crash */
        diag_blue: led_ext_b {
            gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
            label = "External Blue";
        };
    };
};
