/* dac_man_5x6_left.overlay */

#include <dt-bindings/gpio/gpio.h>
#include "dac_man_5x6.dtsi"

&kscan {
    status = "okay";
    diode-direction = "row2col";

    /* REVERSED COLUMN ORDER to fix "Mirror Typing" */
    col-gpios
        = <&gpio1 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio1 0  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        ;

    row-gpios
        = <&gpio0 31 GPIO_ACTIVE_LOW>
        , <&gpio0 29 GPIO_ACTIVE_LOW>
        , <&gpio0 2  GPIO_ACTIVE_LOW>
        , <&gpio1 15 GPIO_ACTIVE_LOW>
        , <&gpio1 13 GPIO_ACTIVE_LOW>
        ;
};

&default_transform {
    col-offset = <0>;  /* <--- CHANGED FROM 6 TO 0 */
};

wired_split {
  compatible = "zmk,wired-split";
  device = <&SOME_UART>;
};

#include <dt-bindings/pinctrl/nrf-pinctrl.h>

&pinctrl {
    uart1_default: uart1_default {
        group1 {
            psels =
                <NRF_PSEL(UART_TX, 0, 8)>,
                <NRF_PSEL(UART_RX, 0, 6)>;  /* <-- CHANGE 6 to your RX pin */
        };
    };

    uart1_sleep: uart1_sleep {
        group1 {
            psels =
                <NRF_PSEL(UART_TX, 0, 8)>,
                <NRF_PSEL(UART_RX, 0, 6)>;  /* <-- CHANGE 6 to your RX pin */
            low-power-enable;
        };
    };
};

&uart1 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart1_default>;
    pinctrl-1 = <&uart1_sleep>;
    pinctrl-names = "default", "sleep";
};
