manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-ps2-driver
      url: https://github.com/badjeff/kb_zmk_ps2_mouse_trackpoint_driver
      path: modules/ps2-working  # <--- NEW Clean Folder
      revision: main
  self:
    path: config
