manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: trackpoint-dasky-v1                # <--- NEW Unique Name
      url: https://github.com/daskygit/zmk-ps2-driver
      path: modules/trackpoint-dasky           # <--- NEW Clean Folder
      revision: main
  self:
    path: config
