manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: badjeff
      url-base: https://github.com/badjeff
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-input-mouse-ps2  # <--- CHANGED FROM zmk-ps2-driver
      remote: badjeff
      revision: main
  self:
    path: config
