manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: badjeff
      url-base: https://github.com/badjeff
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: trackpoint   # <--- Unique name to force fresh update
      remote: badjeff
      repo-path: kb_zmk_ps2_mouse_trackpoint_driver  # <--- The actual Code on GitHub
      path: zmk-ps2-driver   # <--- Forces it into the folder Zephyr expects
      revision: main
  self:
    path: config
