manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-ps2-driver           # Keep standard name for build system
      url: https://github.com/kemonine/zmk-ps2-driver
      path: modules/ps2-kemo         # New clean folder
      revision: main
  self:
    path: config
