manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: ps2-driver-kemo             # <--- UNIQUE NAME (Bypasses Update Error)
      url: https://github.com/kemonine/zmk-ps2-driver
      path: modules/ps2-kemo            # <--- UNIQUE FOLDER
      revision: main
  self:
    path: config
