manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-ps2-driver
      url: https://github.com/daskygit/zmk-ps2-driver
      path: modules/ps2         # <--- Standardizing the path
      revision: main
  self:
    path: config
