manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-ps2-driver-clean  # Unique Name
      url: https://github.com/daskygit/zmk-ps2-driver  # DIRECT URL (No Remote needed)
      path: modules/ps2-dasky     # Clean Folder
      revision: main
  self:
    path: config
