manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: petejohanson
      url-base: https://github.com/petejohanson
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-ps2-driver        # Standard Name
      remote: petejohanson        # The Authority
      repo-path: zmk-ps2-driver
      path: modules/ps2           # Standard Path
      revision: main
  self:
    path: config
